<h1>Wishes</h1>

<ul>
  <% @wishes.each do |wish| %>
    <li>
      <%= link_to wish.title, user_wish_path(@user, wish) %>
    </li>
  <% end %>
</ul>

<%= link_to "New Wish", new_user_wish_path(@user) %>
